gradient-custom-3 {
    /* fallback for old browsers */
    background: #3498db;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 156, 250, 0.5), rgba(107, 110, 203, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 163, 250, 0.5), rgba(143, 143, 244, 0.5))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #3498db;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(62, 111, 201), rgb(66, 37, 181));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(132, 146, 250), rgb(88, 68, 202))
}